In [1]:
import pandas as pd

In [2]:
def cargar():
  datos = pd.read_csv('titanic.csv')
  return datos
#datos.head(3)

In [3]:
df=cargar()
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [4]:
#Eliminar filas que tienen al menos 1 valor faltante
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df=df.dropna()
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass  \
15            16         1       2
270          271         0       1
793          794         0       1
710          711         1       1

                                                 Name     Sex   Age  SibSp  \
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
270                             Cairns, Mr. Alexander    male   NaN      0
793                          Hoyt, Mr. William Fisher    male   NaN      0
710  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")  female  24.0      0

     Parch    Ticket     Fare Cabin Embarked
15       0    248706  16.0000   NaN        S
270      0    113798  31.0000   NaN        S
793      0  PC 17600  30.6958   NaN        C
710      0  PC 17482  49.5042   C90        C
(891, 12)
**************************************************
     PassengerId  Survived  Pclass  \
577          578         1       1
21            22         1       2
879          880         1       1
523          524         1       1

                                                Name     Sex   Age  SibSp  \
577        Silvey, Mrs. William Baird (Alice Munger)  female  39.0      1
21                             Beesley, Mr. Lawrence    male  34.0      0
879    Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
523  Hippach, Mrs. Louis Albert (Ida Sophia Fischer)  female  44.0      0

     Parch  Ticket     Fare Cabin Embarked
577      0   13507  55.9000   E44        S
21       0  248698  13.0000   D56        S
879      1   11767  83.1583   C50        C
523      1  111361  57.9792   B18        C
(183, 12)
**************************************************

In [5]:
#Eliminar columnas que tienen al menos 1 valor faltante
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df=df.dropna(axis=1)
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass                               Name     Sex  \
613          614         0       3                   Horgan, Mr. John    male
471          472         0       3                    Cacic, Mr. Luka    male
273          274         0       1              Natsch, Mr. Charles H    male
720          721         1       2  Harper, Miss. Annie Jessie "Nina"  female

      Age  SibSp  Parch    Ticket     Fare Cabin Embarked
613   NaN      0      0    370377   7.7500   NaN        Q
471  38.0      0      0    315089   8.6625   NaN        S
273  37.0      0      1  PC 17596  29.7000  C118        C
720   6.0      0      1    248727  33.0000   NaN        S
(891, 12)
**************************************************
     PassengerId  Survived  Pclass                                       Name  \
279          280         1       3           Abbott, Mrs. Stanton (Rosa Hunt)
411          412         0       3                            Hart, Mr. Henry
194          195         1       1  Brown, Mrs. James Joseph (Margaret Tobin)
582          583         0       2                 Downton, Mr. William James

        Sex  SibSp  Parch     Ticket     Fare
279  female      1      1  C.A. 2673  20.2500
411    male      0      0     394140   6.8583
194  female      0      0   PC 17610  27.7208
582    male      0      0      28403  26.0000
(891, 9)
**************************************************

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch',
       'Ticket', 'Fare'],
      dtype='object')

In [7]:
#Eliminar solo cuando todos sus valores son nulos
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df=df.dropna(axis=0,how='all')#para columnas axis=1
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass                          Name     Sex  \
353          354         0       3     Arnold-Franchi, Mr. Josef    male
787          788         0       3     Rice, Master. George Hugh    male
66            67         1       2  Nye, Mrs. (Elizabeth Ramell)  female
160          161         0       3      Cribb, Mr. John Hatfield    male

      Age  SibSp  Parch      Ticket    Fare Cabin Embarked
353  25.0      1      0      349237  17.800   NaN        S
787   8.0      4      1      382652  29.125   NaN        Q
66   29.0      0      0  C.A. 29395  10.500   F33        S
160  44.0      0      1      371362  16.100   NaN        S
(891, 12)
**************************************************
     PassengerId  Survived  Pclass  \
498          499         0       1
30            31         0       1
830          831         1       3
431          432         1       3

                                                  Name     Sex   Age  SibSp  \
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0      1
30                            Uruchurtu, Don. Manuel E    male  40.0      0
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0      1
431  Thorneycroft, Mrs. Percival (Florence Kate White)  female   NaN      1

     Parch    Ticket      Fare    Cabin Embarked
498      2    113781  151.5500  C22 C26        S
30       0  PC 17601   27.7208      NaN        C
830      0      2659   14.4542      NaN        C
431      0    376564   16.1000      NaN        S
(891, 12)
**************************************************

In [8]:
#Eliminar si tiene al menos 2 faltantes
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df=df.dropna(axis=0,thresh=2)
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass                             Name   Sex  \
196          197         0       3              Mernagh, Mr. Robert  male
497          498         0       3  Shellard, Mr. Frederick William  male
873          874         0       3      Vander Cruyssen, Mr. Victor  male
17            18         1       2     Williams, Mr. Charles Eugene  male

      Age  SibSp  Parch     Ticket   Fare Cabin Embarked
196   NaN      0      0     368703   7.75   NaN        Q
497   NaN      0      0  C.A. 6212  15.10   NaN        S
873  47.0      0      0     345765   9.00   NaN        S
17    NaN      0      0     244373  13.00   NaN        S
(891, 12)
**************************************************
     PassengerId  Survived  Pclass                              Name     Sex  \
385          386         0       2         Davies, Mr. Charles Henry    male
769          770         0       3  Gronnestad, Mr. Daniel Danielsen    male
63            64         0       3             Skoog, Master. Harald    male
823          824         1       3                Moor, Mrs. (Beila)  female

      Age  SibSp  Parch        Ticket     Fare Cabin Embarked
385  18.0      0      0  S.O.C. 14879  73.5000   NaN        S
769  32.0      0      0          8471   8.3625   NaN        S
63    4.0      3      2        347088  27.9000   NaN        S
823  27.0      0      1        392096  12.4750  E121        S
(891, 12)
**************************************************

In [9]:
#Eliminar por columna especifica o dada
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df=df.dropna(subset=['Cabin'])
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass  \
792          793         0       3
712          713         1       1
710          711         1       1
881          882         0       3

                                                 Name     Sex   Age  SibSp  \
792                           Sage, Miss. Stella Anna  female   NaN      8
712                          Taylor, Mr. Elmer Zebley    male  48.0      1
710  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")  female  24.0      0
881                                Markun, Mr. Johann    male  33.0      0

     Parch    Ticket     Fare Cabin Embarked
792      2  CA. 2343  69.5500   NaN        S
712      0     19996  52.0000  C126        S
710      0  PC 17482  49.5042   C90        C
881      0    349257   7.8958   NaN        S
(891, 12)
**************************************************
     PassengerId  Survived  Pclass  \
298          299         1       1
679          680         1       1
645          646         1       1
849          850         1       1

                                             Name     Sex   Age  SibSp  Parch  \
298                         Saalfeld, Mr. Adolphe    male   NaN      0      0
679            Cardeza, Mr. Thomas Drake Martinez    male  36.0      0      1
645                     Harper, Mr. Henry Sleeper    male  48.0      1      0
849  Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1      0

       Ticket      Fare        Cabin Embarked
298     19988   30.5000         C106        S
679  PC 17755  512.3292  B51 B53 B55        C
645  PC 17572   76.7292          D33        C
849     17453   89.1042          C92        C
(204, 12)
**************************************************

In [15]:
#Sustituimos por valor indicado 0
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df.fillna(0,inplace=True)
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass                                   Name  \
665          666         0       2                     Hickman, Mr. Lewis
69            70         0       3                      Kink, Mr. Vincenz
312          313         0       2  Lahtinen, Mrs. William (Anna Sylfven)
656          657         0       3                  Radeff, Mr. Alexander

        Sex   Age  SibSp  Parch        Ticket     Fare Cabin Embarked
665    male  32.0      2      0  S.O.C. 14879  73.5000   NaN        S
69     male  26.0      2      0        315151   8.6625   NaN        S
312  female  26.0      1      1        250651  26.0000   NaN        S
656    male   NaN      0      0        349223   7.8958   NaN        S
(891, 12)
**************************************************
     PassengerId  Survived  Pclass  \
613          614         0       3
571          572         1       1
197          198         0       3
200          201         0       3

                                              Name     Sex   Age  SibSp  \
613                               Horgan, Mr. John    male   0.0      0
571  Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.0      2
197               Olsen, Mr. Karl Siegwart Andreas    male  42.0      0
200                 Vande Walle, Mr. Nestor Cyriel    male  28.0      0

     Parch  Ticket     Fare Cabin Embarked
613      0  370377   7.7500     0        Q
571      0   11769  51.4792  C101        S
197      1    4579   8.4042     0        S
200      0  345770   9.5000     0        S
(891, 12)
**************************************************

In [13]:
#Sustituimos con valor anterior
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df.fillna(method='bfill',inplace=True)
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass                              Name     Sex  \
205          206         0       3        Strom, Miss. Telma Matilda  female
753          754         0       3                Jonkoff, Mr. Lalio    male
156          157         1       3  Gilnagh, Miss. Katherine "Katie"  female
731          732         0       3          Hassan, Mr. Houssein G N    male

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
205   2.0      0      1  347054  10.4625    G6        S
753  23.0      0      0  349204   7.8958   NaN        S
156  16.0      0      0   35851   7.7333   NaN        Q
731  11.0      0      0    2699  18.7875   NaN        C
(891, 12)
**************************************************
     PassengerId  Survived  Pclass                          Name     Sex  \
109          110         1       3           Moran, Miss. Bertha  female
282          283         0       3     de Pelsmaeker, Mr. Alfons    male
477          478         0       3     Braund, Mr. Lewis Richard    male
217          218         0       2  Jacobsohn, Mr. Sidney Samuel    male

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
109  47.0      1      0  371110  24.1500  C110        Q
282  16.0      0      0  345778   9.5000   A19        S
477  29.0      1      0    3460   7.0458   B49        S
217  42.0      1      0  243847  27.0000   D15        S
(891, 12)
**************************************************

C:\Users\Joseph Cruz\AppData\Local\Temp\ipykernel_14196\1832665405.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',inplace=True)

In [14]:
#Sustituimos con valor posterior
df=cargar()
print(df.sample(4))
print(df.shape)
print('*'*50)
df.fillna(method='ffill',inplace=True)
print(df.sample(4))
print(df.shape)
print('*'*50)

     PassengerId  Survived  Pclass                             Name     Sex  \
134          135         0       2   Sobey, Mr. Samuel James Hayden    male
695          696         0       2       Chapman, Mr. Charles Henry    male
635          636         1       2                Davis, Miss. Mary  female
117          118         0       2  Turpin, Mr. William John Robert    male

      Age  SibSp  Parch      Ticket  Fare Cabin Embarked
134  25.0      0      0  C.A. 29178  13.0   NaN        S
695  52.0      0      0      248731  13.5   NaN        S
635  28.0      0      0      237668  13.0   NaN        S
117  29.0      1      0       11668  21.0   NaN        S
(891, 12)
**************************************************
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
637          638         0       2          Collyer, Mr. Harvey  male  31.0
21            22         1       2        Beesley, Mr. Lawrence  male  34.0
50            51         0       3   Panula, Master. Juha Niilo  male   7.0
95            96         0       3  Shorney, Mr. Charles Joseph  male  59.0

     SibSp  Parch      Ticket     Fare Cabin Embarked
637      1      1  C.A. 31921  26.2500   B50        S
21       0      0      248698  13.0000   D56        S
50       4      1     3101295  39.6875   B78        S
95       0      0      374910   8.0500   E31        S
(891, 12)
**************************************************

C:\Users\Joseph Cruz\AppData\Local\Temp\ipykernel_14196\3416837926.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',inplace=True)